$background: #1f3044;
$white: #ffff;
$primary: #fb9039;
.header {
  background: rgba($background, 0.9);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 10vh;
  max-height: 10vh;
  text-align: center;
  display: grid;
  // grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
.h1 {
  grid-column: 2/3;
  font-size: 1.5rem;
  align-self: center;
  color: $primary;
  text-align: center;
  font-family: "Lobster", cursive;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}
.nav {
  grid-column: 3/4;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  .ul {
    display: flex;
    padding: 0;
    .li {
      list-style-type: none;
      margin-left: 2rem;
      a {
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        position: relative;
        transition: all 0.4s ease;
        padding: 15px;
        font-family: "Cute Font", cursive;
        &:hover {
          color: $primary;
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          background-color: $primary;
          width: 0;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  body {
    font-size: 12px;
  }
}
